@media (min-width: 1601px) and (max-width:2500px) {}

@media (min-width: 1366px) and (max-width:1500px) {}

@media (min-width: 1200px) and (max-width:1365px) {}

@media (min-width: 1025px) and (max-width:1199px) {
    .navbar-toggler {
        top: 10px;
        right: 10px;
        position: absolute;
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 2px 5px;
    }

    #navbarSupportedContent ul li a {
        padding: 20px 11px;
    }

    .logo h1 {
        font-size: 0.9rem;
    }

    .counters .counter {
        font-size: 28px;
    }

    .counters p {
        font-size: 16px;
    }
}

@media (min-width: 992px) and (max-width:1024px) {
    .counters .counter {
        font-size: 28px;
    }

    .counters p {
        font-size: 16px;
    }

    .logo h1 {
        font-size: 0.95rem;
    }

    #navbarSupportedContent ul li a {
        padding: 12px 14px;

    }
}

@media (min-width: 767px) and (max-width:991px) {
    .logo img {
        width: 48px;
    }

    .logo {
        padding-left: 53px;
    }

    .navbar-collapse.show {
        background: rgba(0, 0, 0, 0.8);
        top: -70px;
        height: 100vh;
    }

    button.navbar-toggler {
        z-index: 9;
    }

    .close-icon {
        position: fixed;
        /* removes it from parent flow */
        top: 20px;
        /* adjust as needed */
        right: 20px;
        /* adjust as needed */
        z-index: 9999;
        /* ensure it's above everything */
    }

    .boxespanel .box p {
        line-height: 20px;
    }

    .boxespanel .box h3 {
        font-size: 14px;
    }

    .carousel-indicators {
        bottom: -10px;
        z-index: 9999;
    }

    .counters .counter {
        font-size: 28px;
    }

    .counters p {
        font-size: 16px;
    }

    .navbar-toggler {
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 2px 5px;
    }
}

@media (min-width: 992px) {


    button.navbar-toggler {
        z-index: 9;
    }

    .close-icon {
        position: fixed;
        /* removes it from parent flow */
        top: 20px;
        /* adjust as needed */
        right: 20px;
        /* adjust as needed */
        z-index: 9999;
        /* ensure it's above everything */
    }

    .navbar-toggler {
        display: none !important;
    }

    .counters .counter {
        font-size: 28px;
    }

    .counters p {
        font-size: 16px;
    }
}

@media (max-width:991px) {

    .logo h1 {
        font-size: 0.9rem;
    }

    .topbar a {
        font-size: 0.75rem;
    }

    .loginbutton {
 
    padding: 0.3rem 1rem !important;
    font-size: 15px;
}

    .navbar-collapse.show {
        background: rgba(0, 0, 0, 0.8);
        top: -70px;
        height: 100vh;
    }

    ul.navbar-nav {
        padding: 50px 0 50px 10px
    }


    .navbar-collapse.show {
        background: rgba(1, 47, 96, 0.95);
        top: 0;
        height: 100vh;
        right: 0px;
        width: 50%;
        position: fixed !important;
    }

    .navbar {
        position: absolute;
        right: 0px;
        background: var(--ast-themeblue);
        border: 0;
        border-radius: 0;
        z-index: 999;
    }

    button.navbar-toggler {
        z-index: 9;
    }

    .close-icon {
        position: fixed;
        /* removes it from parent flow */
        top: 20px;
        /* adjust as needed */
        right: 20px;
        /* adjust as needed */
        z-index: 9999;
        /* ensure it's above everything */
    }

    .carousel-indicators {
        bottom: -10px;
        z-index: 9999;
    }

    .counters .counter {
        font-size: 28px;
    }

    .counters p {
        font-size: 16px;
    }

    #navbarSupportedContent ul li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }



    #navbarSupportedContent ul li a {
        padding: 16px 13px;
        transition: ease 0.5s;
        color: #ffffff !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    }

    #navbarSupportedContent ul li:hover a {
        font-weight: bold !important;
        transition: ease 0.5s;
    }

    .navbar-toggler {
        border: 0;
        padding: 5px 8px;
    }

    .skip01 {
        line-height: 16px;
        padding: 0 2px
    }

    #features .bg {
        z-index: 1;
        top: 51%
    }
}

@media (max-width:768px) {
    .logo {
        padding-left: 52px;
    }

    .logo h1 {
        font-size: 0.89rem;
    }
.logo img {
        width: 47px;
    }
   
.logobox img {
        width: 50px;
    }


    .loginbutton {
        padding: 0.3rem 0.8rem !important;
        font-size: 13px;
    }

    .skip01 {
        line-height: 16px;
        padding: 0 2px
    }

    .carousel-indicators {
        bottom: -14px;
        z-index: 9999;
    }

    #features .bg {
        z-index: 1;
        top: 67%
    }

    .sublinks li {
        line-height: 16px;
    }

    .sublinks li a {
        font-size: 0.9rem;
    }

    .skip01,
    .topbar a {
        line-height: 15px;
        font-size: 0.68rem;
        padding: 0 2px;
    }

    #counter .four {
        border-bottom: 1px solid #ccc;
    }

    #login-form h1,
    #login-form h2,
    #login-form h3 {
        font-size: 14px;
    }

    #login-form p {
        font-size: 12px;
    }
}

@media (max-width: 576px) {

     .sticky {width: 97%;}
    
    .loginbutton {
        padding: 0.2rem 0.5rem !important;
        font-size: 13px;
    }

    .skip01,
    .topbar a {
        line-height: 15px;
        font-size: 0.65rem;
        padding: 0 2px;
    }

  

    .logo {
        padding-left: 53px;
    }

    .logo img,
    .logobox img {
        width: 50px;
    }

    .sublinks li {
        line-height: 15px;
    }

    .sublinks li a {
        font-size: 0.585rem;
        text-align: center;
    }

    .logo h1 {
        font-size: 0.82rem;
    }

    .logo h2 {
    font-size: 13px;
}

    .punchline {
        font-size: 0.75rem;
        text-align: center;
    }
}


@media (max-width: 415px) {
.darkmode, .font01  {    font-size: 11px;}
    .skip01, .topbar a {
        line-height: 15px;
        font-size: 0.57rem;
        padding: 0 1px;
    }

        .sublinks li a {
        font-size: 0.53rem;
        text-align: center;
    }

 }
