@media (min-width: 1919px) {


}

@media (min-width: 1601px) and (max-width:1950px) {

	

}


@media (min-width:1500px) and (max-width:1800px) {

	
	

}

@media (min-width: 1400px) and (max-width:1499px) {

	.title h1 {
    font-size: 1.5rem;
    line-height: 33px;
	}

}

@media (min-width:1281px) and (max-width:1399px) {
.loginbox .btn-section .link-btn {
    font-size: 13px;}
	.title h1 {
    font-size: 1.3rem;
        line-height: 28px;
}

.loginbox .forgot-password {
    font-size: 0.85rem;
}
#unlock {font-size: 0.85rem;}
.loginarea {
    margin-top: 40px;
}
.punchlines .punchline {
    color: rgba(0, 0, 0, 0.9);
    font-size: clamp(0.8rem, 1.5vw, 0.9rem);
    font-weight: 400;
}
.loginbox h2
 {
    font-size: 1rem;}

	.loginbox .btn-theme { font-size: 15px; }

}

@media (min-width:992px) and (max-width:1280px) {
	.loginbox{  width: 90%;}


}

@media (max-width: 500px) {
	


}