@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Nunito Sans", sans-serif;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24
}

p {
    font-size: 13px;
}

a {
    text-decoration: none;
    transition: .3s;
}

:root {
    --ast-pink: #ed1848;
    --ast-blue: #0068d7;
    --ast-navyblue: #333b4a;
}

header {
    background-image: url('../images/header-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.sticky {
    top: -8px;
    z-index: 99999;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    left: 0;
    right: 0;
    padding: 2px 20px;
    border-radius: 10px;
}

.wave {
    -webkit-animation: wave 2s ease-in-out infinite alternate both;
    animation: wave 2s ease-in-out infinite alternate both;
    margin-left: -10px;
}
#slider .wave .circle-border {
    height: 100%;
    width: 30%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-animation: spinner 6s infinite linear;
    animation: spinner 6s infinite linear;
}

#slider .wave .circle-border::after {
    position: absolute;
    left: -50px;
    z-index: 9;
    top: 10px;
    content: "";
    height: 12px;
    width: 12px;
    background: #34b165;
    border-radius: 50%;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    border: 1px solid #ffffff;
}


/* ------- */
@-webkit-keyframes wave {
    0% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    100% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
}

@keyframes wave {
    0% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    100% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
}

#header-form {
    z-index: 9999;
    width: 360px;
    margin: -60px 0 auto auto;

    background: #34b165;
    background: linear-gradient(90deg, rgba(52, 177, 101, 0.95) 0%, rgba(52, 178, 101, 0.8) 29%, rgba(52, 179, 102, 0.95) 60%, rgba(52, 179, 102, 0.95) 82%, rgba(52, 179, 103, 0.95) 100%);
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 10px -10px #000000;
    -moz-box-shadow: 0 10px 10px -10px #000000;
    box-shadow: 0 10px 10px -10px #000000;

}

#header-form .card-body h1 {
    font-size: 22px;
    color: #ffffff;
}

#header-form .card-body span {
    font-size: 14px;
    color: #ffffff;
}

#header-form .card-body form input[type="email"],
#header-form .card-body form input[type="password"],
#header-form .card-body form input[type="text"] {
    color: #000000;
    background: #efefef;
    border-color: #dddddd;
    font-size: 14px;
}

.form-outline p {
    padding: 5px 2px;
}

#header-form input[type="submit"] {
    border-radius: 4px;
    background: #ee3539;
    color: #ffffff;
    border: 0;
    width: 40%;
    border-radius: 50px;
    font-size: 15px;
}

#slider {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 140px 0px 176px 0px;
}

#slider small {
    padding: 0 0 0 60px;
    position: relative;
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    color: #ee3539;
    font-weight: 600;
    font-family: "Rajdhani";
    margin: 20px 0 0px;
}

#slider small:before {
    position: absolute;
    left: 0;
    top: 9px;
    content: "";
    border-radius: 100%;
    width: 35px;
    height: 1px;
    background: #34b165;
    background-image: linear-gradient(0deg, #34b165 0%, #1a90ff 100%);
}

#slider small:after {
    position: absolute;
    left: 0;
    top: 14px;
    content: "";
    border-radius: 100%;
    width: 50px;
    height: 1px;
    background-image: linear-gradient(0deg, #34b165 0%, #1a90ff 100%);
}

#slider .banner-text h1 {
    font-size: 60px;
    font-family: "Rajdhani";
    line-height: 62px;
}

#slider h1 span {
    color: #34b165;
    letter-spacing: 1px;
    background-image: linear-gradient(0deg, #3513f9 0%, #1a90ff 100%);
    -webkit-background-clip: text;
}

#slider h2 {
    font-size: 60px;
    letter-spacing: 1px;
    font-family: "Rajdhani";
    color: rgba(0, 0, 0, 0.8);
}

#slider p {
    margin: 8px 0px 20px 0px;
    font-size: 17px;
    line-height: 26px;
    text-align: justify;
    transition: .5s;
    display: block;
    color: rgba(0, 0, 0, 0.76);
}

header .all-logins a {
    border: dotted rgb(255 255 255 /35%);
    border-width: 0 0 0 2px;
    cursor: pointer;
    background-color: transparent;
    line-height: 18px;
    font-size: 12px;
}

header .all-logins span {
    color: #ffffff;
    font-size: 25px;
}

.logo h1 {
    font-size: 20px;
    line-height: 23px;
}

.logo h2 {
    font-size: 16px;
}

.logo h3 {
    font-size: 17px;
    padding-top: 4px;
    background: linear-gradient(to right, #ff6014, #046a38, #046a38, #046a38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/** Services **/

#services span {
    font-size: 16px;
}

#services h5 {
    color: #131313;
    font-size: 29px;
}

#services h5:before,
#sliders h5:before {
    content: "";
    position: absolute;
    left: 46%;
    bottom: -10px;
    width: 26px;
    height: 2px;
    background-color: #232323;
}

#services h5:after,
#sliders h5:after {
    content: "";
    position: absolute;
    right: 46%;
    bottom: -10px;
    width: 50px;
    height: 2px;
    background-color: rgba(238, 53, 57, 1);
}

#services p.servicescontent {
    color: #5d5d5d;
    font-size: 16px;
    line-height: 24px;
}

#services p.servicescontent span {
    font-size: 21px;
    color: #295476;
}

#services .box {
    cursor: pointer;
    border: 1px solid #efefef;

}

#services .box .material-symbols-outlined {
    right: 10px;
    bottom: 10px;
    color: #81879b;
    font-size: 40px;
}

#services .box h6 {
    font-size: 20px;
    line-height: 36px;
}

#services .box p {
    font-size: 17px;
    line-height: 22px;

}

#services .box figcaption {
    position: absolute;
    z-index: 9999;
    top: 20%;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

#services .box figcaption .icon {
    height: 85px;
    width: 85px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    background: #ffffff;
    border-radius: 50%;
}

#services .box figcaption .icon img {
    height: 48px;
    position: relative;
    top: 15px;
    z-index: 1;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

#services .box figcaption .icon .circle-border {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid rgba(16, 76, 186, 0.1);
    border-radius: 50%;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-animation: spinner 6s infinite linear;
    animation: spinner 6s infinite linear;
}

#services .box figcaption .icon .circle-border::after {
    position: absolute;
    left: 5px;
    z-index: 9;
    top: 10px;
    content: "";
    height: 12px;
    width: 12px;
    background: #e2e2e2;
    border-radius: 50%;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    border: 1px solid #ffffff;
}

#services .box:hover .icon .circle-border {
    -webkit-animation: spinner 6s infinite linear;
    animation: spinner 6s infinite linear;
    border-color: #ffffff;
    background: #ffffff;
}

@keyframes spinner {
    to {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

#services .bg-dark-slate-blue {
    background: linear-gradient(90deg, rgba(52, 177, 101, 0.95) 0%, rgba(52, 178, 101, 0.5) 29%, rgba(52, 179, 102, 0.8) 60%, rgba(52, 179, 102, 0.7) 82%, rgba(52, 179, 103, 0.6) 100%);
}

#services .bg-gradient-gray-light-dark-transparent {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(32, 35, 41, .99)), to(transparent));
    background-image: linear-gradient(to top, rgba(32, 35, 41, .99) 0, transparent 100%);
    z-index: 9;
}

#services .box:hover .box-overlay {
    opacity: .3;
}

#services .box:hover .box-overlay {
    opacity: 1;
    visibility: visible;
}

#services .box:hover figcaption {
    top: 15%;
}

.box-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s cubic-bezier(.5, 1, .89, 1);
    transition: all .4s cubic-bezier(.5, 1, .89, 1);
    z-index: 99;
}

/*----------bootstrap-navbar-css------------*/
.navbar span.material-symbols-outlined {
    font-size: 35px;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    border: 1px solid #ffffff;
    border-radius: 1px;
}

@media(min-width: 992px) {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-expand-custom .navbar-toggler {
        display: none;
    }

    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

/*** footer Start ***/

#quotation {
    background: #ef484b;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    margin: 50px auto 70px auto;
}

#quotation h6 {
    font-size: 25px;
}

#quotation p {
    font-size: 18px;
}


#contact {
    background: url("../images/footerbg.jpg");
    color: rgba(255, 255, 255, 0.9);
    background-attachment: fixed;
}

#contact h6 {
    font-size: 20px;
}

#contact p {
    font-size: 16px;
}

#contact .phone-mail-area h4 {
    font-size: 22px;
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #34b165;
    font-size: 13px;
    color: rgba(255, 255, 255, .8);
}

/*** copyright end ***/
.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

.navbar-nav {
    background: rgba(238, 53, 57, 0.9);
    border-radius: 50px;
    padding: 0 100px;
}

.navbar-collapse.show ul {
    background: transparent;
    padding: 0;
}

.sticky .navbar-nav {
    background: transparent;
    padding: 0 0px;
}

.sticky .navbar-nav .nav-item>a {
    color: rgba(0, 0, 0, 1);
}

.navbar-nav .nav-item {
    position: relative;
}

.navbar-nav .nav-item>a {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    font-size: 1rem;
    padding: 12px 25px !important;

}

.navbar-nav .nav-item>a.active {
    font-weight: 500;
}

.nav-link {
    position: relative;
    display: block;
    padding: .4rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid #ffffff;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
    height: 100%;
    background-color: rgba(238, 53, 57, 0.9);
    color: #ffffff;
    font-weight: 700;
}

.navbar-nav .nav-item .nav-link {
    height: 50%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;


}

.navbar-nav .nav-item>a span {
    font-size: 25px;
    margin-top: -3px;
}


#button {
    width: 50px;
    height: 50px;
    display: inline-block;
    background: #ef484b;
    text-align: center;
    border-radius: 4px;
    box-shadow: 3px 3px 10px #fff;
    position: fixed;
    padding: 7px 10px;
    bottom: 80px;
    right: 30px;
    line-height: 50px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    border-radius: 50px;
    z-index: 1000;
}

#button span {
    color: var(--bs-white);
}

#button:hover {
    cursor: pointer;
    background-color: var(--ast-navyblue);
}

#button:active {
    background-color: var(--ast-navyblue);
}

#button.show {
    opacity: 1;
    visibility: visible;
}
.map{    filter: drop-shadow(0 0 1.5rem crimson); margin-top: -50px;}
