html, body{
height:100%;
margin:0;
padding:0; font-family: 'Courier New', Courier, monospace;
}
        .leaflet-control-attribution.leaflet-control {
            display: none !important;
        }

        img { border:0 !important; outline:0 !important;}

        /* #map{
height:400px;
width:400px;
margin:auto;
border-radius:10px;
box-shadow:0 2px 8px rgba(0,0,0,0.2);
} */

        /* Responsive Map */
     #map{
height:800px; background: transparent;
width:60%;
border:1px solid #ccc;
margin:0 auto; position: relative;
}

        

        #searchBox {
            margin: 0 auto;
            background: white;
            padding: 10px;
            width: 250px; right: 20px; top: 5px;
            position: absolute;
        }

        #searchInput {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        #searchResults {
            max-height: 200px;
            overflow-y: auto;
            border: 1px solid #ddd;
        }

        .resultItem {
            padding: 6px;
            cursor: pointer;
            border-bottom: 1px solid #eee;
        }

        .resultItem:hover {
            background: #f1f1f1;
        }

        /* STATE LABEL STYLE */

        .stateLabel {
            background: transparent;
            border: none;
            box-shadow: none;
            color: #000;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
        }

        #labSelect, #adzone{
width:260px;
padding:8px;
border-radius:6px;
border:1px solid #ccc;
font-size:14px;
}

.booktest{
    background: #17449e;
    border: 1px solid #17449e;
}
.labPopup h3 { font-size: 1rem; font-weight: 600;}