@media (min-width: 1919px) {


}

@media (min-width: 1601px) and (max-width:1950px) {

	

}


@media (min-width:1500px) and (max-width:1800px) {

	
	

}

@media (min-width: 1400px) and (max-width:1499px) {
.ssearch { width:84%;}

    .dataTables_length label {   font-size: 0.87rem;}
	.search {width: 84%;
    margin: 0 auto;}
    h3.tablepagetitle {
    font-size: 1rem;
}
.searchfield label {        font-size: 0.87rem;}
table {    font-size: 0.82rem;}

}

@media (min-width:1281px) and (max-width:1399px) {
    .ssearch { width:84%;}
     .dataTables_length label {   font-size: 0.87rem;}
	.search {width: 84%;
    margin: 0 auto;}
    h3.tablepagetitle {
    font-size: 1rem;
}
.searchfield label {        font-size: 0.87rem;}
table {    font-size: 0.82rem;}
}

@media (min-width:992px) and (max-width:1280px) {
	
}

@media (max-width: 500px) {
	


}