@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global default */
html,
body {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  background-color: #f9f9fb; overflow-x: hidden;
}



*:-moz-full-screen,
*:-webkit-full-screen,
*:fullscreen *:-ms-fullscreen {
  overflow: auto;
}

.logo h1 {
    font-size: 15px;
    line-height: 17px;
}
.logo h2 {
    font-size: 14px;
}
.bgblue {background: rgb(0,51,102);
background: linear-gradient(159deg, rgba(0,51,102,1) 0%, rgba(15,82,186,1) 100%);}
.logo h3 {
    font-size: 14px;
    padding-top: 3px;
  
}
.search-width{ width: 90%;}

#search select {
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 8px;
    border-radius: 5px;
      width: 243px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.8);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
  
  background-repeat: no-repeat;
  background-position: right 0.6rem center;
  background-size: 11px; cursor: pointer;

}

input:focus,
select:focus,
textarea:focus {
  border-color: #0d6efd; /* your color */
  outline: none;
  box-shadow: none;
}
/* Disabled */
.custom-select:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

/* IE fallback */
select::-ms-expand {
  display: none;
}
h3.tablepagetitle{ font-size: 1.2rem;}
h3.tablepagetitle i{  color: #fff;
 border-radius: 3px;     font-size: 1.35rem;
    line-height: 30px;width:36px; height: 36px; text-align: center;}
#search {
    margin-bottom: 1.5rem;
    position: relative;
    border-bottom-left-radius: 10px;    border-bottom-right-radius: 10px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);}
#search input[type="submit"] {
    width: 109px;
    border: 1px solid #ffffff;
    color: var(--bs-white);
    background: #ed1848;
    border-radius: 3px;
    font-size: 13px;
    border-radius: 5px;
}

#search input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 8px;
    border-radius: 5px;
    width: 243px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.8);
}

#page {
    transition: transform .2s ease-in-out;
    margin-bottom: 1.5rem;
    position: relative;
 border-radius: 10px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
}

.dtr-details { width: 100%;}
table { font-size: 0.9rem;}

thead th{ background-color: #f2f7ff !important; color:rgba(0,0,0,0.79) !important }

table.dataTable.nowrap td {
    white-space: nowrap;
    padding: 9px;
}

table.dataTable.nowrap th{
    white-space: nowrap;
    padding: 8px;
}

.dataTables_length {padding-left: 14px;
 }
#example_filter{    padding-right: 20px;

}

.dataTables_info {padding:0 14px; margin-top: 10px;}

.table-hover tbody tr:hover td{
  font-weight: 500; /* or bold */; cursor: pointer;
}
.dtr-title { font-weight: 500 !important;}
.dtr-title::after {
  content: " :";
  font-weight: 600; 
}

.dt-buttons .btn { border-radius: 10px; padding: 0 18px;    background: #e0ecff; color:rgba(0,0,0,0.7); margin-top: 8px; margin-right: 5px; border-radius: 4px !important; border:1px solid rgba(0,0,0,0.5)}

.dt-buttons .btn:last-child{ margin-right: 0;}