@media (max-width:1500px) {
    .menu-eff>li>a {
        font-size: 15px;
    }

}

@media (min-width:991px) and (max-width:1200px) {
    .logo h1 a {
        font-size: 32px;
    }

}

@media (min-width:1200px) and (max-width:1400px) {

    .nivo-directionNav a {
        top: 90%
    }

    #about .application-name span {
        font-size: 27px;
    }

    #about .application-name span:after {
        width: 226px;
        height: 82px;
        left: 18px;
        bottom: -80px;
    }

    .logo h1 a {
        font-size: 29px;
    }

    .menu-eff>li>a {
        font-size: 16px;
    }


    .main-menu>li {
        margin: 0 4px;
    }
    .middle-text h1 {
        font-size: 46px;
        line-height: 59px;
    }

    .middle-text.slider-1 p {
        font-size: 18px;
        line-height: 29px;
        padding: 11px 13px;
        margin: 28px 0;
    }
    .slide1-text {
        top: 150px;
    }

    .middle-text .rightimage {
        right: 120px;
        top: 0;
    }

    .middle-text .rightimage img{
   width: 82%;
    }
    .slide-def {
        left: 11px;
        top: 11px;
    }



}

@media (min-width:991px) and (max-width:1199px) {

    #header-form {
        width: 366px;
    }

    #header-form.pt-5 {
        padding-top: 1rem !important;
    }

    #header-form.px-5 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    .logo h1 a {
        font-size: 32px;
    }

    #gallery .title h2 {

        margin-left: -55px !important;
    }

    #footer .contact-details .address {
        width: 55%;
    }

    .middle-text img.mb-4 {
        margin-bottom: 0;
    }

    .phone-mail-area div {
        font-size: 14px;
    }

    .logo h2 {

        font-size: 13px;
    }

    .phone-mail-area .ps-5 {
        padding: 0
    }

    .phone-mail-area div i {
        font-size: 18px;
    }

    .phone-mail-area:after {
        width: 448px;
    }

    #about .application-name span {
        font-size: 25px;
    }

    #about .application-name span:after {
        width: 297px;
        height: 42px;
        left: 0;
        bottom: -50px;
    }

    #about .application-name span.ms-5 {
        margin-left: 0 !important;
    }

    .mean-container a.meanmenu-reveal {
        padding: 0 0 11px;
    }

    .middle-text h1 {
        font-size: 34px;
        margin: 0 !important;
        line-height: 48px;

    }

    .middle-text p span {
        font-size: 28px;
    }

    .middle-text .rightimage {
        top: 208px;
        right: -131px;
    }

    .middle-text .rightimage img {
        width: 50%;
    }

    .middle-text p {
        font-size: 19px;
    }

    .slidertext.ps-5 {
        padding-left: 15px !important;
    }

    .slide1-text {
        position: absolute;
        top: 34px;
    }


    .nivo-directionNav a {
        top: 90%;
    }

    .nivo-prevNav {
        left: 30px;
    }

    .nivo-nextNav {
        left: 89px;
    }

    .footer-links .ps-5 {
        padding: 10px 0
    }

    .main-menu>li {
        margin: 0 4px;
    }

    .menu-eff>li>a {
        font-size: 14px;
        padding: 0 5px;
    }


}


@media (min-width:767px) and (max-width:991px) {
    #about .application-name span:after {
        display: none;
    }

    #gallery .title h2 {
        margin-left: -55px !important;
    }

    #footer .contact-details .address {
        width: 80%;
    }


    .container-fluid {
        padding: 0 10px;
    }

    #primary-menu {
        display: none
    }

    .mobile-menu-area .container {
        width: 750px
    }

    header .loginbtn {
        margin-right: 50px;
    }

    .phone-mail-area {
        padding-top: 7px;
        float: right;
    }


    .phone-mail-area div {
        padding-left: 0;
        font-size: 13px;
    }

    .phone-mail-area div i {
        font-size: 19px;
    }

    .header-top-bar {
        min-height: 48px;
    }

    .mean-container a.meanmenu-reveal {
        padding: 0 0 11px;
    }


    .logo h1 {
        font-size: 27px;
    }

    .logo h2 {
        font-size: 12px;
    }

    #footer .logo img {
        margin-right: 0;
        width: 23%;
    }

    #footer h4 {
        font-size: 25px;
    }

    .footer-copyright div {
        width: 100%;
        text-align: center;
    }

    header .loginbtn {
        margin-right: 55px;
        width: 56%;
        float: right;
        margin-top: 0;
    }

    .full-width-dropdown {
        min-height: 0;
    }

    .middle-text .rightimage {
        top: 21px;
        right: 20px;
        z-index: 100;
    }

    .middle-text p span {
        font-size: 30px;
    }

    .nivo-directionNav a {
        top: 100%;
    }

    .nivo-prevNav {
        left: 26px;
    }

    .nivo-nextNav {
        left: 89px;
    }

    .middle-text h1,
    .middle-text span {
        font-size: 30px;
        line-height: 44px;
        margin-top: 1rem !important;

    }

    .slidertext.ps-5 {
        padding-left: 0;
    }

    #header-form {
        position: relative;
        z-index: 1;
    }

    .slide1-text {
        top: 0;
        width: 100%;

    }


    .middle-text p {
        font-size: 16px;
    }

    .slide-def {
        left: 13px;
    }

    .slidertext img {
        width: 10%;
        margin-bottom: 0 !important;
    }

    .full-width-dropdown {
        min-height: 0;
    }

    .mean-container {
        top: 89px;
    }

    .mobile-menu-area .container {
        width: 350px;
    }




    #about h2 {
        font-size: 33px;
    }

    .about-text .mb-4,
    .about-text .mt-5,
    .about-text .ps-2 {
        margin: 0 !important;
    }

    #about p {
        font-size: 15px;
    }



    #footer .ps-5 {
        padding: 0;
    }

    #footer h4 {
        padding-top: 10px;
    }

    #footer .float-end {
        float: none;
        text-align: center;
    }

    #footer .logo {
        padding-left: 91px;
    }

    #footer .details {
        margin-top: 43px !important;
    }

    #footer .logo h2 {
        font-size: 13px;
    }

    .loginform h1 {
        width: 70%;
    }

    header .loginbtn {
        display: none;
    }
}

@media (max-width:767px) {

    .slide1-text {
        top: 0;
        width: 100%;

    }

    header .loginbtn {
        display: none;
    }

    .slide1-text {
        top: 60px;
        width: 100%;
    }

    #header-form {
        position: relative;
        margin: 0 auto;
    }

    #gallery div.title {
        writing-mode: horizontal-tb;
        letter-spacing: 0px;
    }


    #about .application-name span {
        font-size: 35px;
        position: relative;
        line-height: 40px;
    }


    #footer .contact-details .address {
        width: 80%;
    }

    .loginform h1 {
        width: 70%;
        font-size: 16px;
    }

    .loginform .btn-close {
        right: 5px;
        top: -8px;

    }

    .mean-container .mean-nav ul {
        margin-top: -135px;
    }

    .mean-container {
        top: 113px;
        right: -5px;
    }

    .mean-container a.meanclose {
        top: -99px;
    }


    .container-fluid {
        padding: 0 15px !important
    }

    .mobile-menu-area .container {
        width: 460px;
    }

    #primary-menu {
        display: none;
    }

    .mobile-menu-area {
        display: block;
    }

    .header-top-bar .punchline {
        font-size: 12px;
    }

    .phone-mail-area {
        padding-top: 7px;
        float: right;
    }

    .phone-mail-area:after {
        border-top: 36px solid #cbdff8;
        border-left: 37px solid transparent;
        top: 2px;
        right: -10px;
    }

    .mean-container a.meanmenu-reveal {
        padding: 0 0 11px;
    }

    .logo {
        padding-left: 88px;
        margin-top: 13px;
    }

    .logo img {
        margin-right: 0;
        width: 24%;
    }

    .logo h1 {
        font-size: 27px;
    }

    .logo h2 {
        font-size: 12px;
    }

    #footer .logo img {
        margin-right: 0;
        width: 14%;
    }

    .footer-copyright div {
        width: 100%;
        text-align: center;
    }

    header .loginbtn {
        padding: 5px;
        margin-right: 11px;
    }

    .middle-text .rightimage {
        top: 14px;
        right: -218px;
    }

    .middle-text .rightimage img {
        width: 54%;
    }

    .nivo-directionNav a {
        width: 36px;
        height: 34px;
        line-height: 34px;
        font-size: 20px;
    }

    .nivo-prevNav {
        left: 10px;
    }

    .nivo-nextNav {
        left: 49px;
    }



    .middle-text h1,
    .middle-text span {
        font-size: 30px;
        line-height: 40px;
    }

    .diffimg h1,
    .diffimg span {
        font-size: 19px;
    }

    .middle-text .read-more {
        width: 140px;
    }

    .middle-text .read-more a {
        font-size: 16px;
        padding: 12px 22px;
    }

    .slide1-text {
        top: 16px;
    }

    .slide-def {
        left: 4px;
    }

    .middle-text p {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .slidertext img {
        width: 10%;
        margin-bottom: 0 !important;
    }

    .mobile-menu-area .container {
        width: 330px;
    }

    .container-fluid {
        padding: 0 7px !important;
    }

    section#gallery,
    section#features {
        margin: 77px 00 0 0;
    }

    #about h2 {
        font-size: 33px;
    }

    .about-text .mb-4,
    .about-text .mt-5,
    .about-text .ps-2 {
        margin: 0 !important;
    }

    #about p {
        font-size: 15px;
    }

    #about .iconbox h4 {
        font-size: 20px;
    }

    #about li {
        font-size: 18px;
    }

    #quote .card {
        margin-bottom: 20px;
    }


    #services .ps-6 {
        padding: 0;
    }

    #services .box {
        cursor: pointer;
        min-height: 160px;
    }


    .details .d-flex {
        display: block;
    }

    #footer .ps-5 {
        padding: 0;
    }

    #footer .details {
        margin-top: 43px !important;
    }

    #footer .logo h2 {
        font-size: 13px;
    }


}

@media (min-width:557px) and (max-width:766px) {

    #ministers .minister-box:nth-of-type(2) .details,
    #ministers .minister-box:nth-of-type(3) .details {
        font-size: 18px;
        bottom: -110px;
    }

    .header-top-bar.ms-5 {
        margin-left: 3px !important;
    }



    .phone-mail-area {
        padding-right: 5px;
    }

    .support-links {
        display: none;
    }

    .header-area {
        min-height: 108px;

    }

    .mean-container a.meanclose {
        top: -65px;
    }

    .mean-container {
        top: 83px;
    }

    .middle-text h1,
    .middle-text h1 span {
        margin-top: 0 !important;

    }

    .slidertext.ps-5 {
        padding-left: 0 !important;
    }

    .middle-text .read-more {
        display: none;
    }

    #header-form {
        z-index: 1;
    }

    .middle-text .rightimage {
        top: 140px;
        right: -301px;
        z-index: 1000 !important;
    }
}

@media (min-width:300px) and (max-width:556px) {
    .header-area {
        min-height: 108px;
        position: relative;
        z-index: 999;
    }

    section#gallery,
    section#features {
        margin: 77px 00 0 0;
    }

    #gallery div.title {
        writing-mode: horizontal-tb;
        letter-spacing: 0px;
    }

    #footer .contact-details .address {
        width: 100%;
    }

    .loginform h1 {
        width: 100%;
    }


    .mean-container .mean-nav ul {
        margin-top: -129px;
    }

    .mean-container a.meanclose {
        top: -99px;
        right: 14px !important;
    }

    .phone-mail-area div i {
        font-size: 16px;
    }

    .phone-mail-area {
        padding-right: 5px;
    }

    .slide-def {
        left: 10px;
    }

    .phone-mail-area div {
        margin-right: 5px !important;
        ;
        font-size: 13px;
    }

    .phone-mail-area .ps-5 {
        padding-left: 0;
    }


    .mean-container a.meanmenu-reveal {
        padding: 0 0 11px;
        top: -33px;
    }

    .logo {
        padding-left: 82px;
        margin-top: 13px;
    }

    .logo img {
        width: 24%;
    }

    .logo h1 {
        font-size: 27px;
    }

    .logo h2 {
        font-size: 12px;
    }

    header .loginbtn {
        display: none;
    }

    .support-links {
        display: none;
    }

    .header-top-bar.ms-5 {
        margin-left: 3px !important;
    }

    .middle-text .rightimage {
        top: 18px;
        right: -339px;

    }

    .middle-text .rightimage img {
        width: 30%;
    }

    .nivo-directionNav a {
        top: 74%;
        margin: 0 auto;
    }

    .nivo-prevNav {
        left: 60px;
    }

    .nivo-nextNav {
        left: 19px;
    }

    .slider-container:hover .nivo-prevNav {
        left: 70px;
    }

    .slider-container:hover .nivo-nextNav {
        left: 30px;
    }

    .middle-text .read-more {
        display: none;
    }

    .slidertext.ps-5 {
        padding-left: 0 !important;
    }


    .slide1-text {
        top: 10px;
    }

    .middle-text p {
        margin-top: 92px;
        font-size: 15px;
        color: var(--eu-black);
    }

    .middle-text h1,
    .middle-text h1 span {
        display: block;
        padding-top: 0 !important;
        color: var(--bs-white);
        -webkit-text-stroke: 0;
        margin-top: 1.5rem !important;
        font-size: 23px !important;
        line-height: 36px;
    }


    .slidertext img {
        width: 10%;
        margin-bottom: 0 !important;
    }

    .middle-text h1,
    .middle-text span {
        font-size: 21px !important;
        line-height: 40px;
    }

    #header-form {

        top: 161px;
    }

    #header-form.pt-5 {
        padding-top: 1rem !important
    }

    .mobile-menu-area .container {
        width: 300px;
    }

    #ministers.mt-5 {
        margin-top: 0 !important;
    }

    #ministers .minister-box:nth-of-type(2) .details,
    #ministers .minister-box:nth-of-type(3) .details {
        font-size: 13px;
        position: absolute;
        bottom: -82px;
        right: 28px;
    }

    #ministers .minister-box:nth-of-type(2),
    #ministers .minister-box:nth-of-type(3) .designation {
        font-size: 13px;
    }

    #about .application-name span:after {
        display: none;
    }

    #about .application-name span {
        font-size: 22px;
    }

    #about h2 {
        font-size: 33px;
    }

    .address .me-5 {
        margin-right: 1rem !important;
    }

    #footer .info span {
        font-size: 19px;
    }

    .address.p-5 {
        padding: 1rem !important;
    }

    .content .mb-5 {
        margin-bottom: 0 !important;
    }

    .yellow.ms-5 {
        margin-left: 0rem !important;
    }

    #about p {
        font-size: 15px;
    }


    #footer h4 {
        padding-top: 10px;
    }


}