/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700;800;900;1000&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --eu-primary: #0c3fa8;
    --eu-secondary: #fc9f04;
    --eu-light-blue: #42afd2;
    --eu-white: #ffffff;
    --eu-black: #000000;
    --eu-orange: #e25a20;
    --eu-grey: #f4f5f8;
    --eu-light-grey: #f7f7f7;
    --eu-dark-grey: #393737;
    --eu-body-font-family: 'Open Sans', sans-serif;

}

body {
    font-family: var(--eu-body-font-family);
}

a {
    color: var(--eu-dark-grey);
    text-decoration: none;
}

a:hover {
    color: var(--eu-black);
    text-decoration: none;
}
img, svg {
    max-width: 100%;}
ul {
    list-style: none
}

p.text {
    font-size: 15px;
    line-height: 25px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

/*
* Meanmenu
*/
a.meanmenu-reveal {
    display: none
}

.mobile-menu-area .container {
    padding: 0;
}

.mean-container {
    position: absolute;
    top: 0;
    z-index: 999;
    right: 0;
}

.mean-container .mean-bar {
    background: 0 0;
    float: none;
    min-height: 42px;
    padding: 4px 0 0;
    position: relative;
    width: 100%;
    z-index: 99
}

.mean-container a.meanmenu-reveal {
    position: absolute;
    width: 22px;
    height: 22px;
    padding: 9px 0 11px;
    top: -3px;
    right: 20px !important;
    cursor: pointer;
    color: var(--eu-white);
    text-decoration: none;
    text-indent: -9999em;
    line-height: 22px;
    font-size: 1px;
    display: block;
    font-weight: 700;
}

.mean-container a.meanclose {
    top: -78px;
    right: 14px !important;
}

.mean-container a.meanmenu-reveal span {
    display: block;
    background: url("../img/menu-icon.png") top no-repeat;
    height: 20px;
}

.mean-container .mean-nav {
    float: left;
    width: 100%;
    margin-top: 12px;
}

.mean-container .mean-nav ul {
    background: url(../img/menu-bg.png) repeat-x rgba(0, 56, 130, 0.96);
    background-position: bottom;
    min-height: 610px;
    margin-top: -105px;
    padding: 41px 0;
    width: 100%;
    list-style-type: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.mean-container .mean-nav ul li a {
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    display: block;
    float: left;
    font-size: 15px;
    margin: 0;
    padding: 10px 5%;
    text-align: left;
    text-decoration: none;
    width: 100%;
}

.menuheading {
    border-bottom: 2px ridge var(--eu-white);
    margin: 0 20px;
    padding: 15px 0;
    color: var(--eu-white);
}

.mean-container .mean-nav ul li a:hover {
    color: var(--eu-white);
    background: var(--eu-secondary);
}

.mean-container .mean-nav ul li.active a {
    color: var(--eu-white);
    background: var(--eu-secondary);
}

.mean-container .mean-bar,
.mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

/*
* Nivo Slider
*/
.nivo-box,
.nivo-caption,
.nivoSlider {}

.nivoSlider {
    position: relative;
    width: 100%;
    height: auto
}

.nivoSlider img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: none
}

.nivo-main-image {
    display: block !important;
    position: relative !important;
    width: 100% !important
}

.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
    background: #fff;
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

.nivo-box,
.nivo-slice {
    z-index: 5;
    position: absolute
}

.nivo-box,
.nivo-box img,
.nivo-slice {
    display: block
}

.nivo-slice {
    height: 100%;
    top: 0
}

.nivo-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--eu-black);
    color: var(--eu-white);
    width: 100%;
    z-index: 8;
    padding: 5px 10px;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    display: none;
    -moz-opacity: .8;
    filter: alpha(opacity=8);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.nivo-caption .autowidth {
    color: var(--eu-black);
    background: var(--eu-secondary);
    font-size: 43px;
    font-weight: 600;
    width: max-content;
    padding: 5px 5px;
    text-transform: uppercase;
}

.nivo-html-caption {
    display: none
}

.nivo-directionNav a {
    position: absolute;
    top: 45%;
    z-index: 9;
    cursor: pointer
}

.nivo-controlNav {
    text-align: center;
    padding: 15px 0
}

.nivo-controlNav a {
    cursor: pointer
}

.nivo-controlNav a.active {
    font-weight: 700
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 95px;
    z-index: 996;
    background: var(--eu-secondary);
    border: 1px solid var(--eu-white);
    padding: 15px 4px;
    font-size: 14px;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 20px;
    line-height: 15px;
    display: block;
    color: #4b9fe6;
}

.back-to-top.active i {
    font-size: 20px;
    line-height: 15px;
    display: block;
    color: var(--eu-white);
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
    background: var(--eu-secondary);
    border: 1px solid var(--eu-white);
    padding: 15px 4px;
    font-size: 14px;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    text-align: center;

}

.header-top-bar {
    /* background: var(--eu-grey); */
    min-height: 40px;
}


.phone-mail-area a {
    position: relative;
    z-index: 999;
    font-weight: 400;
    font-size: 15px;
}

.phone-mail-area i {
    font-size: 20px;
    color: var(--eu-secondary);
}

.support-links a {
    font-size: 15px;
}

.logo {}

.logo h1 a {
    font-weight: 700;
    font-size: 38px;
}

.modal-dialog {
    max-width: 800px;
    margin-top: 100px;
}

.modal.show .modal-dialog {
    transform: 0;
}


.modal-content {
    background: none;
}

.loginform .leftbox {
    background: #4f94e9;
    min-height: 505px;
    position: relative;
    z-index: 10;
}

.modal-body .col-xl-6,
.modal-body .col,
.modal-body .row {
    padding: 0;
    margin: 0;
}

.loginform {
    position: relative;
}


/*Header Css*/
.header-area {
    position: relative;
    z-index: 999
}

.header-on-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.main-menu>li>a {
    color: #615050;
    font-family: 400;
}

.main-menu li {
    display: inline-block;
    position: relative !important;
}

.main-menu>li {
    margin: 0 14px;
    padding: 12px 0px;
    line-height: 58px;
}

.main-menu li ul>li:hover>a {
    text-decoration: underline;
}

.sticky {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%; background: transparent;
    /* background: rgba(255, 255, 255, 10);
    z-index: 999 */
}

.sticky .logo img {
    transition: all .3s ease 0s;
}

.full-width-dropdown {
    min-height: 120px;
}

.menu-eff>li>a {
    position: relative;
    font-size: 17px;
    font-weight: 500;
    z-index: 99999999 !important;
    padding: 0 8px;
    display: block;
    overflow: hidden;
}

.menu-eff>li>a i {
    font-size: 21px;
}

.main-menu li.active::after {
    content: "";
    color: #fff !important;
    width: 90% !important;
    height: 93%;
    display: block;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid var(--eu-secondary);
}

.menu-eff>li:hover::after {
    content: "";
    left: 0;
    right: 0;
    color: #fff !important;
    width: 100%;
    height: 90%;
    display: block;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    border-bottom: 2px solid var(--eu-secondary);
}

header .loginbtn {
    background: var(--eu-primary);
    border-radius: 10px;
    padding: 10px 12px;
    width: 120px;
    font-size: 20px;
}

.navigation i {
    font-size: 25px;
}

/*Slider Css*/
.slider-area>img {
    height: 100vh;
    width: 100%
}

.nivo-caption {
    background: 0 0;
    height: 100%;
    opacity: 1;
    padding: 0;
    z-index: 99
}

.slide1-text {
    position: absolute;
    top: 24%;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9;
}

.slide-def {
    left: 0;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 0;
    margin: 0 auto;
}

.slide-def.slide-right {
    right: 19%;
    text-align: right;
    left: auto
}

.slide-def.slide-center {
    left: 0;
    margin: auto;
    right: 0;
    width: 525px
}

.middle-text {
    position: relative;
}

.middle-text .box p {
    font-size: 29px;
    margin-bottom: 3px;
}

.middle-text .box span {
    font-size: 22px;
}

.middle-text.slider-1 p {
    background: #ffb741;
    position: relative;
    color: var(--eu-black);
    display: block;
    font-weight: 400;
    ;
    font-size: 22px;
    line-height: 37px;
    width: 45%;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 40px 0;
}

.middle-text.slider-2 p {
    background:rgba(255,183,65,0.9);
    position: relative;
    color: var(--eu-black);
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    width: 45%;
    border-radius: 4px;
    padding: 9px 17px;
    margin: 12px 0;
}



.middle-text p img {
    position: absolute;
    right: 32px;
    bottom: -37px;
    top: auto;
    left: auto;
}

.middle-text p span {
    font-weight: 800;
    font-size: 33px;
}


.middle-text .rightimage {
    position: absolute;
    top: -41px;
    right: 197px;
}

.middle-text img {
    position: relative;
}

.middle-text h1 span {
    color: var(--eu-secondary);
    font-size: 53px;
    font-weight: 800;
    letter-spacing: 0.3px;
}

.middle-text h1 {
    position: relative;
    font-family: 'Cairo', sans-serif;
    font-size: 56px;
    line-height: 71px;
    font-weight: 800;
    text-shadow: 5px 4px 8px #013344;
}

.middle-text.slider-2 h1 {
    text-shadow: 5px 5px 10px #00507e;
    color: var(--eu-white);
    font-size: 68px;
    line-height: 71px
}

.middle-text.slider-2 h1 .orange {
    color: var(--eu-orange);
    font-size: 62px;
    text-transform: uppercase;
    font-weight: 900;
}

.middle-text.slider-2 span {
    color: var(--eu-white);
    font-weight: 700;
}

.middle-text h1 img {
    position: absolute;
    top: -26px;
    left: 352px;
}

.middle-text h2 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 1px;
}

.middle-text .read-more {
    border: 1px solid var(--eu-white);
    border-radius: 50px;
    background: transparent;
    width: 184px;
}

.middle-text .read-more a {
    font-size: 20px;
    color: var(--eu-white);
    background-color: var(--eu-secondary);
    border-radius: 48px;
    margin: 3px 0;
    padding: 12px 32px;
}

.nivo-caption a.button {
    display: inline-block !important
}

.nivo-directionNav a {
    color: var(--eu-white);
    cursor: pointer;
    font-size: 22px;
    line-height: 58px;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all .3s ease 0s;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 99;
    opacity: 1;
}

.slider-container:hover .nivo-directionNav a {
    background: rgba(0, 0, 0, 0);
    opacity: 1
}

.nivo-prevNav {
    left: 7px;
}

.nivo-nextNav {
    right: 7px;
}

.slider-progress {
    -webkit-animation: 5s ease-in-out 0s normal none 1 running timebar;
    -moz-animation: 5s ease-in-out 0s normal none 1 running timebar;
    animation: 5s ease-in-out 0s normal none 1 running timebar;
    background-color: rgba(38, 57, 64, .42);
    height: 5px;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 12px 22px 12px 22px;
}

.navbar>ul>li:last-child:before {
    background: none;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -17px;
    left: 2px;
    background-color: #fff;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #fff;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 23px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 6px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #585858;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #222222;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #4d3828;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #4d3828;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

#about {
    margin: 225px 00 0 0;
    position: relative;
    background-color: var(--eu-primary);
    color: var(--eu-white);
    min-height: 580px;
}

#about img {
    margin-top: -75px;
}

#about h2 {
    font-size: 64px;
}

#about p {
    font-size: 18px;
    text-align: justify;
    line-height: 36px;
}

#about .application-name span {
    font-size: 50px;
    position: relative;
}

#about .application-name span:after {
    position: absolute;
    content: "";
    width: 316px;
    height: 132px;
    transform: skew(20deg);
    background: #0b3998;
    background: rgba(11, 59, 157, 0.5);
    left: 18px;
    bottom: -120px;
}

#about .application-name span:last-child:after {
    width: 149px;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
section#gallery,
section#features {
    margin: 116px 00 0 0;
}

#gallery div.title {
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-size: 76px;
    letter-spacing: -15px;
}

#gallery .title h2 {
    font-size: 76px;
    color: var(--eu-secondary);
}

.fadetext {
    color: var(--eu-light-grey)
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    position: relative;
}

#footer .copyright {
    background: var(--eu-secondary);
    font-size: 15px;
    min-height: 45px;
}

#footer .contact-details {
    position: relative;
}

#footer .contact-details .address {
    position: absolute;
    width: 40%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.89);
    bottom: 0;
    min-height: 312px;
    font-family: 'Montserrat', sans-serif;
}

#footer .contact-details .address h3 {
    font-size: 17px;
}

#footer .loc {
    position: absolute;
    right: 28px;
    font-size: 115px;
}

#footer .contact-details p {
    font-size: 15px;
}

#footer .info span {
    font-size: 21px;
}

#footer .info i {
    color: #1e3050;
    font-size: 25px;
}

#footer .info a {
    color: #000000;
}

.nav-tabs .nav-link.active {
    background: none;
}



.nav-tabs {
    border: none
}

#nav-tab a {
    width: 100%;
}

.mean-nav i {
    color: var(--eu-white);
    margin-right: 15px;
    font-size: 18px;
    padding: 8px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.dnone {
    display: none;
}

.slider-container {
    position: relative;
}

/*--------------------------------------------------------------
# Header Form Section
--------------------------------------------------------------*/
#header-form {
    width: 466px;
    background: var(--eu-white);
    border-radius: 10px;
    position: absolute;
    right: 30px;
    top: 50px;
    z-index: 99;
}

#header-form .card-body h1 {
    font-size: 26px;
    color: var(--eu-dark-grey);
}

#header-form .card-body span {
    font-size: 14px;
    color: #8e8e8e;
}

#header-form .card-body form input {
    color: #c8c7c7;
    border-color: #dddddd;
}

#header-form .card-body form input::placeholder {
    color: #c8c7c7;
    font-size: 15px;
}

#header-form .card-body p {
    font-size: 15px;
    color: var(--eu-dark-grey);
}

button {
    border-radius: 50px;
    background: var(--eu-secondary);
    color: var(--eu-white);
    border: 0;
    width: 100%;
    font-size: 18px;
}

/*--------------------------------------------------------------
# Ministers Section
--------------------------------------------------------------*/
#ministers .minister-box {
    position: relative;
    min-height: 542px;
}

#ministers .minister-box:first-of-type .dotted {
    position: absolute;
    top: 170px;
    left: 0;
    z-index: 9;
    opacity: 0.5;
}

#ministers .minister-box:first-of-type .image {
    bottom: 0;
    position: absolute;
    z-index: 10;
    left: 57px;
}

#ministers .minister-box:first-of-type .color {
    height: 228px;
    width: 120px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: var(--eu-secondary);
}

#ministers .minister-box:first-of-type .details {
    font-size: 26px;
    position: absolute;
    bottom: -36px;
    right: 0;
    z-index: 11;
    background-color: var(--eu-white);
    border-radius: 60px;
    border: 10px solid #6db1c2;
}

#ministers .minister-box:first-of-type .designation {
    font-size: 22px;
}

#ministers .minister-box:nth-of-type(2) .dotted {
    position: absolute;
    top: 100px;
    left: 140px;
    z-index: 9;
    opacity: 0.5;
}

#ministers .minister-box:nth-of-type(2) .image {
    bottom: 0;
    position: absolute;
    z-index: 10;
    right: 0;
}

#ministers .minister-box:nth-of-type(2) .color {
    height: 282px;
    width: 225px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: var(--eu-grey);
    left: 0;
    margin: 0 auto;
}

#ministers .minister-box:nth-of-type(2) .details,
#ministers .minister-box:nth-of-type(3) .details {
    font-size: 20px;
    position: absolute;
    bottom: -80px;
    right: 36px;
}

#ministers .minister-box:nth-of-type(2),
#ministers .minister-box:nth-of-type(3) .designation {
    font-size: 18px;
}

#ministers .minister-box:nth-of-type(3) .dotted {
    position: absolute;
    top: 210px;
    left: 52px;
    z-index: 9;
    opacity: 0.5;
}

#ministers .minister-box:nth-of-type(3) .image {
    bottom: 0;
    position: absolute;
    z-index: 10;
    right: 0;
}

#ministers .minister-box:nth-of-type(3) .color {
    height: 228px;
    width: 100%;
    position: absolute;
    left: 52px;
    bottom: 0;
    z-index: 1;
    background: var(--eu-grey);
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
#features small {
    font-size: 22px;
    color: var(--eu-primary);
    position: relative;
}

#features small:after {
    content: "";
    width: 173px;
    height: 3px;
    background: var(--eu-secondary);
    position: absolute;
    bottom: 13px;
    right: -182px;
}

#features h2 {
    font-size: 44px;
}

#features .description {
    background: var(--eu-light-grey);
    min-height: 320px;
}

#features .description h3 {
    font-size: 20px;
}

#features .description i {
    font-size: 40px;
}

#features .description p {
    font-size: 15px;
    opacity: 0.8;
}

.yellow {
    color: var(--eu-secondary);
}

.blue {
    color: var(--eu-light-blue);
}