@media (min-width: 1366px) and (max-width:1500px) {

    .carousel-caption h4 {
        font-size: 0.85rem;
    }

    .carousel-caption h5 {
        font-size: 1rem;
    }

    .carousel-caption p {
        font-size: 0.85rem;
    }

    .loginbox .animated-text h1 {
        font-size: 1.3rem;

    }

    .sliders {
        margin-top: 69px;
    }
      .forgot-password { font-size: 0.85rem;}
    .loginbox  .btn-section .link-btn {
    font-size: 14px;
    line-height: 35px;
    
}
}

@media (min-width: 1200px) and (max-width:1365px) {

    .loginbox  .btn-section .link-btn {
    font-size: 14px;
    line-height: 35px;
  
}
     .carousel-caption h4 {
        font-size: 0.85rem;
    }

    .carousel-caption h5 {
        font-size: 1.2rem;
    }

    .carousel-caption p {
        font-size: 0.8rem;
    }

    .loginbox .animated-text h1 {
        font-size: 1.3rem;

    }

    .sliders {
        margin-top: 69px;
    }
  .forgot-password { font-size: 0.85rem;}

    .loginbox .animated-text h1 {
        font-size: 1.3rem;

    }


}

@media (min-width: 1025px) and (max-width:1199px) {
    .login-header p {
        font-size: 0.8rem;
    }

    .loginbox .animated-text h1 {
        font-size: 1.13rem;

    }

}

@media (min-width: 992px) and (max-width:1024px) {
    .login-header p {
        color: #666;
        font-size: 0.8rem;
    }

    .w-75 {
        width: 90% !important;
    }

}


@media (max-width:767px) {
    .w-75 {
        width: 100% !important;
    }

    .loginbox .animated-text h1 {
        font-size: 1.13rem;

    }
}

@media (max-width: 576px) {}